.avatar-xl {
  width: 5rem;
  height: 5rem;
}

.avatar-circle {
  border-radius: 50%;
}

.avatar {
  overflow: hidden;
}

.home-song-name {
  color: #222629;
  font-family: "Roboto Slab", serif;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.2rem;
  text-align: center;
}
.width-initial {
  width: initial !important;
}
